
body{
	font-family: 'lato regular';
	font-family: 'lato Bold';
	background: gray;
	margin:0px;
	padding:0px;
	height: auto;
	
}







nav{
	margin:0px;
	padding:0px;
	width: 100%;
	background: #41466e;
	overflow: auto;
}
nav ul{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}
nav ul li{
	padding: 0;
	margin: 0 ;
	list-style: none;
}
nav ul li a{
	width: 100px;
	display: block;
	padding: 20px 9px;
	text-decoration: none;
	color: #f2f2f2f2;
	text-align: center;
}
nav ul li a:hover{
	background: #f50f0f;
	color: #fff;
	transition: 2s;
	text-decoration: none;
	
}
nav ul .logo {
	font-family: 'Harrington';
	font-size: 20px;
	margin-right: auto;
	transition: all 2s ease;


}
nav ul .logo:hover{
	background: #f50f0f;
	text-align: center;
	transform: scale(1.5, 1.2);
}

nav .search{
	display: flex;
	margin: auto 50px;
	height: 30px;
	line-height: 35px;
}

nav .search input{
	border: none;
	outline: none;
	background: #fff;
	padding: 0 10px;
	font-size: 15px;
	width: 350px;

}
nav .search span{
	color: #0a5059;
	background: #fff;
	font-size: 20px;
	height: 100%;
	padding: 8px;
	position: relative;
	cursor: pointer;
	z-index: 1;
}
nav .search span::after{
	height: 100%;
	width: 0;
	content: '';
	background: #ff003c;
	position: absolute;
	top: 0;
	right:  0;
	z-index: -1;
	transition: .3s;
}
nav .search span:hover::after{
	width: 100%;
}


#myCard{
	width: 100%;
	display: flex;
	flex-direction: row;
	



}



	
footer{
    background:  #224d91;
    overflow:  hidden;
    padding: 0px 0px;
    text-align:  center;
    color:  #fff;
    text-transform:  uppercase;
}





.social_links span{
	font-size: 20px;
	margin-left: 10px;
	color: #fff;
}

/*  Homepage style end  */







/* Contact Page Style start */




form{

	margin: 20px auto;
	box-shadow: 0 0 10px #000;
	padding: 10px;
	background-color: #c5cfd6;
}